############################
# FRONTEND / NEXT.JS
############################

# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
 /out/
 /build/

# testing
/coverage

# env
.env*
.env*.local

# vercel
.vercel

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
next-env.d.ts

############################
# DATA / ML (VERY IMPORTANT)
############################

# datasets
*.csv
*.parquet
*.jsonl

# ML artifacts
*.pkl
*.joblib
*.h5
*.pt
*.ckpt
*.txt

# outputs
submission.csv
processed_dataset.pkl

############################
# PYTHON / NOTEBOOKS
############################

__pycache__/
.ipynb_checkpoints/
*.pyc
